@tailwind base;
@tailwind components;
@tailwind utilities;

*:before,
*::after,
* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .bg-mobile-index {
  background-image: url(./assets/home/mobile/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */
