@tailwind base;
@tailwind components;
@tailwind utilities;

*:before,
*::after,
* {
  margin: 0;
  padding: 0;
}
z code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-mobile-index {
  background-image: url(./assets/home/mobile/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
}

.opacity-100 {
  margin-top: 1.5rem;
  opacity: 1;
  transition: opacity 0.8s;
  text-align: center;
}

.opacity-0 {
  margin-top: 1.5rem;
  opacity: 0;
  transition: opacity 0.8s;
  text-align: center;
}
